# IMDB Counterfactuals

## Imports

In [44]:
%run functions/Edge_Weights_Updating.ipynb

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jimli\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\jimli\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\jimli\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

## Data Reading

In [17]:
train_df = pd.read_csv('../Data/IMDB/train/imdb_train.csv')

train_df.head()

                                              Review label
0  Bromwell High is a cartoon comedy. It ran at t...   pos
1  Homelessness (or Houselessness as George Carli...   pos
2  Brilliant over-acting by Lesley Ann Warren. Be...   pos
3  This is easily the most underrated film inn th...   pos
4  This is not the typical Mel Brooks film. It wa...   pos

In [45]:
test_df = pd.read_csv('../Data/IMDB/test/imdb_test.csv')

test_df.head()

                                              Review label
0  I went and saw this movie last night after bei...   pos
1  Actor turned director Bill Paxton follows up h...   pos
2  As a recreational golfer with some knowledge o...   pos
3  I saw this film in a sneak preview, and it is ...   pos
4  Bill Paxton has taken the true story of the 19...   pos

In [19]:
df_all = pd.concat([train_df, test_df], ignore_index=True)

assert df_all.shape[0] == train_df.shape[0] + test_df.shape[0]
df_all.head()

                                              Review label
0  Bromwell High is a cartoon comedy. It ran at t...   pos
1  Homelessness (or Houselessness as George Carli...   pos
2  Brilliant over-acting by Lesley Ann Warren. Be...   pos
3  This is easily the most underrated film inn th...   pos
4  This is not the typical Mel Brooks film. It wa...   pos

In [46]:
sentences = test_df[['Review']]
sentences.head()

                                              Review
0  I went and saw this movie last night after bei...
1  Actor turned director Bill Paxton follows up h...
2  As a recreational golfer with some knowledge o...
3  I saw this film in a sneak preview, and it is ...
4  Bill Paxton has taken the true story of the 19...

In [41]:
# model, tokenizer = model_init(cuda=True)

# len(sorted(tokenizer.encode(s, add_special_tokens=False, return_tensors="pt").shape[1] for s in sentences['Review'] if len(s) <= 1024))

## Counterfactuals based on Fluency

In [ ]:
fluent_baseline_metric, baseline_counter_df = get_baseline_metric(sentences, pos= 'adv', eval_metric=get_fluency, antonyms=True)
print("Baseline metric value: {}".format(fluent_baseline_metric))

Creating Node Names...
Creating Bipartite Graph...
Finding Minimum Match...
Creating Substitution Synsets Dictionary...
Generating Edits...

100%|████████████████████████████████████████████████████████████████████████████| 25000/25000 [11:35<00:00, 35.93it/s]

## Counterfactuals based on Bertscore

In [ ]:
bert_baseline_metric = get_bertscore(sentences, baseline_counter_df)
print("Baseline metric value: {}".format(bert_baseline_metric))

## Counterfactuals based on Fluency and Bertscore

In [ ]:
fluent_bert_baseline_metric = 2 * fluent_baseline_metric * (1 - bert_baseline_metric) / (fluent_baseline_metric + 1 - bert_baseline_metric)
print("Baseline metric value: {}".format(fluent_bert_baseline_metric))